:root .dark {
    --main-bg-color: #16171b;
    --main-text-color: #efefef;
    --second-text-color: #3d3d3d;
    --light-text-color: #fff;
    --light-text-second-color: rgb(240, 240, 240);
    --border-color: rgba(78, 72, 72, 0.55);
    --modal-bg-color: #222327;
    --note-element-bg-color: #2e3035;
    --input-bg-color: rgba(0, 0, 0, .1);
    --link-color: #33a7e9;
    --link-border-color: #37AFF3;
    --header-bg-color: #2e3035;
    --header-bg-color-tp: #000000d7;
    --hover-bg: rgb(71, 71, 71);
    --input-bg-hover-color: #3f3f3f;
    --main-color: #50a7da;
    --main-color-tp: #50a7da44;
    --inactive: rgba(48, 126, 190, 0.1);
}