:root .light {
    --main-bg-color: #E4E4E7;
    --main-text-color: #000000;
    --second-text-color: #747474;
    --light-text-color: #fff;
    --light-text-second-color: rgb(228, 228, 228);
    --border-color: rgba(216, 207, 207, 0.55);
    --modal-bg-color: #ECECEE;
    --note-element-bg-color: #F5F5F5;
    --input-bg-color: #F0F0F0;
    --link-color: #33a7e9;
    --link-border-color: #37AFF3;
    --header-bg-color: #f4f4f5;
    --header-bg-color-tp: #f4f4f5d7;
    --hover-bg: rgb(239, 239, 239);
    --input-bg-hover-color: #e7e7e7;
    --main-color: #50a7da;
    --main-color-tp: #50a7da2f;
}