.content {
    display: block;
    width: 100%;
    flex-grow: 1;
    .content__inner {
        height: calc(100vh - 64px);
        width: 100%;
        padding: 16px 48px;

        @media screen and (max-width: 900px) {
            padding: 0;
            padding-top: 8px;
        }

        .content__inner__modal {
            display: flex;
            overflow: hidden;
            width: 100%;
            height: 100%;
            background-color: var(--modal-bg-color);
            border: 1px solid var(--border-color);
            border-radius: 16px;
            position: relative;

            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            @media screen and (max-width: 900px) {
                box-shadow: none;
                border-radius: 0;
            }
        }
    }
}

input, textarea {
    caret-color: var(--main-text-color);
    color: var(--main-text-color);
    background-color: var(--input-bg-color);
}

input[type=text], input[type=number] {
    background-color: var(--input-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    height: 36px;

    &:focus {
        outline: none;
        background-color: var(--input-bg-hover-color);
    }
    &:hover {
        background-color: var(--input-bg-hover-color);
    }
}

.button {
    color: var(--link-color);
    border: 1px solid var(--link-border-color);
    border-radius: 8px;
    background: none;
    padding: 6px 16px;

    &:hover {
        background-color: var(--main-color-tp);
        cursor: pointer;
    }
}

::selection, input::selection, textarea::selection {
    background: rgb(75, 75, 197);
    color: #fff;
}