header {
    display: block;
    position: relative;
    width: 100%;
    z-index: 30;

    height: 64px;

    @media screen and (max-width: 550px) {
        height: auto;
    }

    .header__links {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        border: 1px solid var(--border-color);
        border-radius: 8px;
        position: absolute;
        width: fit-content;
        top: 16px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--header-bg-color-tp);
        font-size: 18px;
        height: 48px;

        @media screen and (max-width: 550px) {
            display: block;
            position: relative;
            transform: none;
            width: 100%;
            height: auto;
            left: auto;
            top: auto;
            height: auto;

            * {
                display: block;
            }
        }

        * {
            display: inline-block;
            margin: 0 4px;
            text-decoration: none;
            color: var(--main-text-color);
            word-wrap: break-word;
            white-space: nowrap;
        }
        a {   
            border-radius: 8px;
            padding: 6px 16px;
            &:hover {
                background-color: var(--main-color-tp);
            }
            &.active {
                background-color: var(--main-color-tp);
            }
        }
        .auth {
            padding: 6px 16px;
            color: var(--link-color);
            border: 1px solid var(--link-border-color);
        }
    }
}